* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
}

.container {
  margin: 16px;
}

.navbar {
  display: block !important;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0E0E52;
}

.navbar li {
  padding-left: 16px;
  padding-right: 16px;
}

.navbar-link {
  border-radius: 1rem;
  float: right;
}

.navbar-link a {
  font-size:larger;
  border-radius: 1rem;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-link a:hover {
  background-color: #150578;
}

.form {
  margin-top: 1rem;
  width: max-content;
}

.page-header {
  align-self: center;
  font-weight: bold;
  color: #0E0E52;
}

#loading {
  margin-top: 16px;
  text-align: center;
  display: inline;
  width: 500px;
}